/* 
 * My97 DatePicker 4.7
 * Ƥ�����:Ycloud5d99cf
 * Ƥ������:�������� abc123@foxmail.com
 */
 
/* ����ѡ������ DIV */
.WdateDiv { width:180px; background-color:#fff; border: solid 1px #1468a6; }
/* ˫������Ŀ�� */
.WdateDiv2{width:360px;}
.WdateDiv * { font:12px Arial, Helvetica, sans-serif; }
/****************************
 * ����ͼ�� ȫ����A��ǩ
 ***************************/
.WdateDiv .NavImg a{ display:block;width:16px; height:16px; cursor:pointer; }
.WdateDiv .NavImgll a{ float:left;width:16px; height:13px; margin:6px 0px 0px 6px; background:url(prevyear.png) no-repeat; }
.WdateDiv .NavImgl a{ float:left; width:9px; height:13px; margin:6px 13px 0px 6px; background:url(prevmonth.png) no-repeat; }
.WdateDiv .NavImgr a{ float:right; width:9px; height:13px; margin:6px 6px 0px 0px; background:url(nextmonth.png) no-repeat; }
.WdateDiv .NavImgrr a{ float:right; width:16px; height:13px; margin:6px 6px 0px 0px; background:url(nextyear.png) no-repeat; }
/****************************
 * ����·����
 ***************************/
/* ����·��� DIV 
.WdateDiv #dpTitle {height:24px; background:url(herepeat.png) repeat-x; }
*/
.WdateDiv #dpTitle { height:24px; margin-bottom:2px; background-color:#F2F2F2;}
/* ����·������ INPUT */
.WdateDiv .yminput { width:40px; height:20px; margin-top:2px; border:0px; background:transparent; cursor:pointer; color:#297acc; line-height:14px; text-align:center; }
/* ����·�������ý���ʱ����ʽ INPUT */
.WdateDiv .yminputfocus { width:50px; height:20px; margin-top:2px; border:#939393 1px solid; color:5d99cf; font-weight:bold; line-height:14px; text-align:center; }
/* �˵�ѡ��� DIV */
.WdateDiv .menuSel { z-index:1;position:absolute; display:none; background-color:#FFFFFF; border:#297acc 1px solid; }
/* �˵�����ʽ TD */
.WdateDiv .menu { cursor:pointer; background-color:#fff; color:#5d99cf; }
/* �˵���mouseover��ʽ TD */
.WdateDiv .menuOn { cursor:pointer; color:white; background-color:#5d99cf; }
/* �˵���Чʱ����ʽ TD */
.WdateDiv .invalidMenu { color:#aaa; }
/* ��ѡ����ƫ�� DIV */
.WdateDiv .YMenu { margin-top:20px; }
/* ��ѡ����ƫ�� DIV */
.WdateDiv .MMenu { margin-top:20px; *width:62px;
}
/* ʱѡ����λ�� DIV */
/*.WdateDiv .hhMenu { margin:-90px 0 0 26px; }*/
.WdateDiv .hhMenu { margin:-90px 0 0 -60px; }
/* ��ѡ����λ�� DIV */
/*.WdateDiv .mmMenu { margin:-46px 0 0 26px; }*/
.WdateDiv .mmMenu { margin:-46px 0 0 -60px; }
/* ��ѡ����λ�� DIV */
.WdateDiv .ssMenu { margin:-24px 0 0 26px; }
/****************************
 * �����
 ***************************/
 .WdateDiv .Wweek { background:#DAF3F5; border-right:#BDEBEE 1px solid; text-align:center; }
/****************************
 * ����,�������
 ***************************/
 /* ������ TR */
.WdateDiv .MTitle { background:#5d99cf; color:white; }
.WdateDiv .WdayTable .MTitle td{height:16px; line-height:16px; background-color:#297acc; border-top:1px solid #eff4f7; border-bottom:1px solid #dde2e6; color:#FFFFFF;}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#5d99cf 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}
/* ��������� TABLE */
.WdateDiv .WdayTable { background:white; color:83898e; margin-top:-3px; }
.WdateDiv .WdayTable td{
	line-height:22px;
	text-align:center;
}
/* ���ڸ����ʽ TD */
.WdateDiv .Wday {width:26px; cursor:pointer; color:#666666; }
/* ���ڸ��mouseover��ʽ TD */
.WdateDiv .WdayOn { background-color:#297acc; border-radius:3px; cursor:pointer; font-size:12px; color:#fff;; }
/* ��ĩ���ڸ����ʽ TD */
.WdateDiv .Wwday {width:26px; cursor:pointer; color:#297acc; }
/* ��ĩ���ڸ��mouseover��ʽ TD */
.WdateDiv .WwdayOn { background-color:#5d99cf; color:yellow; cursor:pointer; font-size:13px; }
.WdateDiv .Wtoday { cursor:pointer; color:blue; font-size:13px; }
.WdateDiv .Wselday { background-color:#297acc; border-radius:3px; color:#fff; font-size:13px; }
.WdateDiv .WspecialDay{	background-color:#EAF330;}
/* �����·ݵ����� */
.WdateDiv .WotherDay { cursor:pointer; color:#c7cdd2; }
/* �����·ݵ�����mouseover��ʽ */
.WdateDiv .WotherDayOn { cursor:pointer; color:#666; }
/* ��Ч���ڵ���ʽ,�������ڷ�Χ�������ڸ����ʽ,����ѡ������� */
.WdateDiv .WinvalidDay { color:#aaa; }

/****************************
 * ʱ�����
 ***************************/
/* ʱ���� DIV */
.WdateDiv #dpTime {margin:2px; padding-left:30px; height:16px; border:1px solid #CCCCCC;}
/* ʱ������ SPAN */
.WdateDiv #dpTime #dpTimeStr { margin-left:1px; color:#5a9cd5; }
/* ʱ������� INPUT */
.WdateDiv #dpTime input { width:18px; height:16px; background:none; border:none; color:#666666; line-height:14px; text-align:center; }
/* ʱ�� ʱ INPUT */
.WdateDiv #dpTime .tB { border-right:0px; }
/* ʱ�� �ֺͼ���� ':' INPUT */
.WdateDiv #dpTime .tE { border-left:0; border-right:0; }
/* ʱ�� �� INPUT */
.WdateDiv #dpTime .tm { width:7px; border-left:0; border-right:0; }
/* ʱ���ұߵ����ϰ�ť BUTTON */
.WdateDiv #dpTime #dpTimeUp {display:none; border:none; height:10px; width:18px; padding:0; background:#d1e1f0 url(timetop.png) no-repeat 4px 2px;}
/* ʱ���ұߵ����°�ť BUTTON */
.WdateDiv #dpTime #dpTimeDown {display:none; border:none; height:10px; width:18px; padding:0; background:#d1e1f0 url(timebottom.png) no-repeat 4px 2px;}
/****************************
 * ����
 ***************************/
.WdateDiv #dpQS {display:none; float:left; width:20px; height:20px; margin:3px 3px 0 0; background-image:url(qs.jpg); cursor:pointer; }
.WdateDiv #dpControl {padding:3px 0px; text-align:right; }
.WdateDiv .dpButton {margin-right:9px; width:48px; height:20px; overflow:hidden; background-color:#FFFFFF; color:#999999; border: solid 1px #CCCCCC; cursor:pointer; font-size:12px;}
.WdateDiv .dpButton:hover{background-color:#297acc; border:0px; color:#fff;}