body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:410px;
}
#u1808 {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:410px;
}
#u1809 {
  position:absolute;
  left:2px;
  top:197px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
