@charset "utf-8";

.container{min-width:1280px; height:100%; overflow-x:auto;}
.header{height:50px; line-height:50px; background:url(../images/topbg.png) no-repeat bottom center #1f2740;}
.logo{margin:11px 0px 0px 24px;}
.nav{width:640px; margin:0px auto; padding-top:10px;}
.navLink{width:110px; height:24px; line-height:24px; margin:0px 5px; padding:4px; background:url(../images/navlinkbg_1.png) no-repeat; color:#b8c4f3; font-family:"microsoft YAHEI";}
.nav .navLink span{width:18px; height:16px;}
.nav .navLink:hover{background:url(../images/navlinkbg_3.png) no-repeat; color:#fff;}
/*.nav .navLink:hover{background:url(../images/navlinkbg_2.png) no-repeat; color:#fff;}*/
.navLink_1 span{margin:4px 3px 0px 32px; background:url(../images/navicon_1_1.png) no-repeat;}
.navLink_1:hover span{background:url(../images/navicon_1_2.png) no-repeat;}
.navLink_2 span{margin:4px 3px 0px 16px; background:url(../images/navicon_2_1.png) no-repeat;}
.navLink_2:hover span{background:url(../images/navicon_2_2.png) no-repeat;}
.navLink_3 span{margin:4px 3px 0px 21px; background:url(../images/navicon_3_1.png) no-repeat;}
.navLink_3:hover span{background:url(../images/navicon_3_2.png) no-repeat;}
.navLink_4 span{margin:4px 3px 0px 10px; background:url(../images/navicon_4_1.png) no-repeat;}
.navLink_4:hover span{background:url(../images/navicon_4_2.png) no-repeat;}
.navLink_5 span{margin:4px 3px 0px 20px; background:url(../images/navicon_5_1.png) no-repeat;}
.navLink_5:hover span{background:url(../images/navicon_5_2.png) no-repeat;}
.nav .slt{background:url(../images/navlinkbg_2.png) no-repeat; color:#fff;}
.nav .slt:hover{background:url(../images/navlinkbg_2.png) no-repeat; color:#fff;}
.nav .navLink_1.slt span{background:url(../images/navicon_1_2.png) no-repeat;}
.nav .navLink_2.slt span{background:url(../images/navicon_2_2.png) no-repeat;}
.nav .navLink_3.slt span{background:url(../images/navicon_3_2.png) no-repeat;}
.nav .navLink_4.slt span{background:url(../images/navicon_4_2.png) no-repeat;}
.nav .navLink_5.slt span{background:url(../images/navicon_5_2.png) no-repeat;}

.headerRight{padding-top:10px;}
.messageBox{position:relative; height:30px; line-height:30px; padding:0px 20px; background:url(../images/toprightsep.png) no-repeat right center;}
.messageLink{display:block; height:30px; line-height:30px; padding-left:20px; background:url(../images/messageicon_1.png) no-repeat left center; color:#7d88b1;}
.messageSign{position:absolute; top:5px; right:16px; width:6px; height:6px; background:url(../images/messageicon_2.png) no-repeat;}
.userBox{height:30px; line-height:30px; padding:0px 18px; background:url(../images/toprightsep.png) no-repeat right center;}
.userMain{display:block; padding-left:21px; background:url(../images/usericon.png) no-repeat left center; color:#7d88b1;}
.logoutBox{height:30px; line-height:30px; padding:0px 18px; background:url(../images/toprightsep.png) no-repeat right center;}
.logoutMain{display:block; padding-left:21px; background:url(../images/logouticon.png) no-repeat left center; color:#7d88b1;}

.steps{height:120px; margin:10px; padding-left:120px; background-color:#212942; border-radius:5px;}

.stepBox{position:relative; width:230px; height:120px; padding-right:36px;}
.steps .stepBox:first-child{width:0px;}
.stepItem{position:absolute; top:17px; right:-11px; width:58px;}
.stepIcon{display:block; width:58px; height:50px; padding-top:8px; background:url(../images/stepbg_1.png) no-repeat center center; transition:all 0.5s;}
.stepItem:hover .stepIcon{transition:all 0.5s; background:url(../images/stepbg_2.png) no-repeat center center;}
.stepItem.slt .stepIcon{transition:all 0.5s; background:url(../images/stepbg_3.png) no-repeat center center;}
.stepArrow{display:block; width:100%; height:8px; margin-top:42px; background:url(../images/steparrow.png) no-repeat right center;}
.stepItem_1 .stepIcon em{display:block; width:22px; height:20px; margin:10px auto 0px auto; background:url(../images/stepicon_1.png) no-repeat;}
.stepItem_2 .stepIcon em{display:block; width:22px; height:20px; margin:10px auto 0px auto; background:url(../images/stepicon_2.png) no-repeat;}
.stepItem_3 .stepIcon em{display:block; width:22px; height:20px; margin:10px auto 0px auto; background:url(../images/stepicon_3.png) no-repeat;}
.stepItem_4 .stepIcon em{display:block; width:22px; height:20px; margin:10px auto 0px auto; background:url(../images/stepicon_4.png) no-repeat;}
.stepItem_5 .stepIcon em{display:block; width:22px; height:20px; margin:10px auto 0px auto; background:url(../images/stepicon_5.png) no-repeat;}
.stepItem_6 .stepIcon em{display:block; width:22px; height:20px; margin:10px auto 0px auto; background:url(../images/stepicon_6.png) no-repeat;}
.stepItem_7 .stepIcon em{display:block; width:22px; height:20px; margin:10px auto 0px auto; background:url(../images/stepicon_7.png) no-repeat;}
/*.stepWord{display:block; width:80px; margin-left:-10px; white-space:nowrap; font-size:14px; text-align:center; font-family:"microsoft YAHEI"; background:linear-gradient(to right , red , blue); -webkit-background-clip:text; -webkit-color:transparent;}*/
.stepWord{display:block; width:80px; height:17px; margin-left:-10px; overflow:hidden;}
.stepItem_1 .stepWord{background:url(../images/stepword_1.png) no-repeat;}
.stepItem_2 .stepWord{background:url(../images/stepword_2.png) no-repeat;}
.stepItem_3 .stepWord{background:url(../images/stepword_3.png) no-repeat;}
.stepItem_4 .stepWord{background:url(../images/stepword_4.png) no-repeat;}
.stepItem_5 .stepWord{background:url(../images/stepword_5.png) no-repeat;}
.stepItem_6 .stepWord{background:url(../images/stepword_6.png) no-repeat;}
.stepItem_7 .stepWord{background:url(../images/stepword_7.png) no-repeat;}
.stepItem.slt .stepWord{background-position:0px -17px;}

.box{margin:10px; background-color:#212942; border-radius:5px;}
.boxHd{height:40px; line-height:40px; padding:0px 16px;}
.boxHd h3{height:18px; line-height:18px; margin-top:11px; padding-left:5px; border-left:2px solid #455da7; font-size:14px; color:#fff; font-family:"microsoft YAHEI"; font-weight:normal;}
.seeLink{padding-right:17px; background:url(../images/seelinkicon_1.png) no-repeat right center; color:#1c85ff;}
.nineStorage{height:305px;}
.objectStroage{height:305px;}
.dataStatistics{height:305px;}
/*
.slideWrap{width:75px; height:22px; margin-top:10px; background:url(../images/slideBack.png) left center no-repeat; position:relative;}
.slideBtn{width:50px; height:17px; background:url(../images/slideIcon.png) left center no-repeat; position:absolute; left:3px; top:4px; cursor:pointer; color:#fff; line-height:17px; text-align:center;}
*/
.chooseDay{width:104px; height:20px; line-height:20px; margin-top:10px; background:url(../images/choosedaybg.png) no-repeat;}
.chooseDay a{width:52px; height:20px; line-height:20px; color:#fff; text-align:center;}
/*.sevenDays{background:url(../images/choosedayleft.png) no-repeat;}*/
.chooseDay a.sevenDays.slt{background:url(../images/choosedayleft.png) no-repeat;}
.chooseDay a.thirtyDays.slt{background:url(../images/choosedayright.png) no-repeat;}

.boxHdEm{font-size:14px; color:#e86587;}

.unusualBack{padding:0px 20px 20px 20px;}
/*.unusualBack table{width:100%;}
.unusualBack th{height:40px; line-height:40px; background-color:#37415f; border-bottom:1px solid #5b6b9c; text-align:center; font-size:14px; color:#b9c6ed; font-family:"microsoft YAHEI";}
.unusualBack td{height:28px; line-height:28px; border-bottom:1px solid #2d3651; text-align:center; font-size:14px; color:#b9c6ed; font-family:"microsoft YAHEI";}
.unusualBack tr:hover{background-color:#2d3651;}*/

.backlogDataStatistic_1{height:305px;}
.backlogDataStatistic_2{height:305px;}

.boxMain{margin:0px 10px;}
.boxMain .box{margin-right:0px; margin-left:0px;}
.importData{width:49.5%;}
.exportData{width:49.5%;}
.importDataChart{height:305px;}
.exportDataChart{height:305px;}
.totalDatas{width:72%; height:290px;}
.restoreEquipmentData{width:27%; height:290px;}
.curTotalData{width:40%; height:270px;}
.yestodayTotalData{width:40%; height:270px; margin:10px 0px; border-right:1px solid #333d5e; border-left:1px solid #333d5e;}
.ratioDatas{position:relative; width:19%; height:100%;}
.curTotalDataChart{height:183px;}
.curTotalDataList li{width:290px; height:28px; line-height:28px; margin:0px auto; font-family:Microsoft YaHei; color:#6d7ea3;}
.curTotalDataLi_1 label{padding-left:16px; background:url(../images/curtotaldataliicon_1.png) no-repeat left center;}
.curTotalDataLi_2 label{padding-left:16px; background:url(../images/curtotaldataliicon_2.png) no-repeat left center;}
.curTotalDataLi_3 label{padding-left:16px; background:url(../images/curtotaldataliicon_3.png) no-repeat left center;}
.curTotalDataLi_4 label{padding-left:16px; background:url(../images/curtotaldataliicon_4.png) no-repeat left center;}
.curTotalDataLi_5 label{padding-left:16px; background:url(../images/curtotaldataliicon_5.png) no-repeat left center;}
.agencyb{font-family:AGENCYB; font-size:20px; color:#dee9ff;}
.yestodayTotalDataChart{height:183px;}
.ratioDatas_1{width:72px; height:244px; margin:0px auto; padding-top:23px;}
.ratioDatasTip_1{position:absolute; top:37px; left:50%; width:36px; margin-left:-18px; color:#c3cce1; font-family:"microsoft YAHEI";}
.ratioDatasTip_2{position:absolute; top:123px; left:50%; width:36px; margin-left:-18px; color:#c3cce1; font-family:"microsoft YAHEI";}
.ratioDatasTip_3{position:absolute; top:208px; left:50%; width:36px; margin-left:-18px; color:#c3cce1; font-family:"microsoft YAHEI";}
.restoreEquipmentChart{height:245px;}
/*.restoreEquipmentChart > div{background:url(../images/restoreequipmentchart.png) no-repeat center center;}*/

/*任务监测*/
.failCauseBox label{color:#93a3d4; font-family:"microsoft YAHEI";}
.failCause{margin-top:7px;}
.jobChart_1{height:305px;}
.jobChart_2{height:305px;}
.anticipationChart_1{height:305px;}
.anticipationChart_2{height:305px;}

/*预处理监测*/
.siftBox{line-height:34px; padding:20px; background-color:#212942; border-radius:5px;}
.siftBox label{color:#93a3d4; font-family:"microsoft YAHEI";}
.marginR25{margin-right:25px;}
.seeQuality{padding-right:15px; background:url(../images/rightarrow_1.png) no-repeat right center; color:#1c85ff;}
.seeQuality:hover{background:url(../images/rightarrow_2.png) no-repeat right center; color:#1c85ff;}
.schBtn_1{width:68px; height:34px; line-height:34px; margin-right:10px; background:url(../images/schbtn_1_1.png) no-repeat; color:#fff; text-align:center; font-family:"microsoft YAHEI";}
.schBtn_1:hover{background:url(../images/schbtn_1_2.png) no-repeat;}
.anticipationComb{margin-top:5px;}
.anticipationChart_3{height:305px;}
.anticipationChart_4{height:305px;}

/*接入监测*/
.insertStatistics{margin-top:10px;}
.insertStatisticsItem{width:33%; height:120px; border-radius:5px;}
.insertStatisticsItem_1{background:url(../images/insertstatisticsitem_1.png) no-repeat right bottom #212942;}
.insertStatisticsItem_2{margin:0px 0.5%; background:url(../images/insertstatisticsitem_2.png) no-repeat right bottom #212942;}
.insertStatisticsItem_3{background:url(../images/insertstatisticsitem_3.png) no-repeat right bottom #212942;}
.insertStaList{margin-left:90px; padding:10px 0px 0px 80px;}
.insertStatisticsItem_1 .insertStaList{background:url(../images/insertstatisticsicon_1.png) no-repeat left center;}
.insertStatisticsItem_2 .insertStaList{background:url(../images/insertstatisticsicon_2.png) no-repeat left center;}
.insertStatisticsItem_3 .insertStaList{background:url(../images/insertstatisticsicon_3.png) no-repeat left center;}
.insertStaList dt{height:54px; line-height:54px;}
.insertStaList dd{height:34px; line-height:34px; font-size:14px; color:#7985b6; font-family:"microsoft YAHEI";}
.insertStaList dt span{font-size:42px; color:#f6f8ff; font-family:AGENCYB;}
.insertStaList dt em{font-size:18px; color:#f6f8ff;}
.insertChart_1{height:305px;}
.insertChart_2{height:305px;}

.frequencyBar{height:305px;}
.chooseApp{margin-top:7px;}

/*主动监测*/
.active{margin:10px 5px;}
.activeTabHd{height:35px;}
.activeTabLink{width:260px; height:35px; line-height:35px; background-color:#283250; font-size:14px; color:#606c93; font-family:"Microsoft YAHEI"; text-align:center;}
.activeTabLink.slt{background-color:#212942;}
.activeTabLink:first-child{border-radius:5px 0px 0px 0px;}
.activeTabLink:last-child{border-radius:0px 5px 0px 0px;}
.activeTabBd{width:100%; background-color:#212942;}
.activeTabBdBox{display:none;}
.accountMain{padding:10px 20px;}
.accountSift{height:22px; line-height:22px; padding:16px 0px;}
.accountSift label{color:#93a3d4; font-family:"Microsoft YaHei";}
.marginR60{margin-right:60px;}
.starttime{width:186px; height:24px; padding-left:12px; background:url(../images/calendaricon_1.png) no-repeat 180px 5px; border:1px solid #4b5881; color:#8394c6; font-family:"Microsoft YaHei";}
.endtime{width:186px; height:24px; padding-left:12px; background:url(../images/calendaricon_1.png) no-repeat 180px 5px; border:1px solid #4b5881; color:#8394c6; font-family:"Microsoft YaHei";}
.timeSep{margin:0px 4px; color:#4b5881;}
.accountSift .schBtn_1{margin-top:-6px;}
.emptyBtn_1{color:#1c85ff; text-decoration:underline; font-family:"Microsoft YaHei";}
.accountGrid{/*padding:0px 20px 20px 20px;*/}
/*.accountGrid table{width:100%;}
.accountGrid th{height:40px; line-height:40px; background-color:#37415f; border-bottom:1px solid #5b6b9c; text-align:center; font-size:14px; color:#b9c6ed; font-family:"microsoft YAHEI";}
.accountGrid td{height:28px; line-height:28px; border-bottom:1px solid #2d3651; text-align:center; font-size:14px; color:#64719d; font-family:"microsoft YAHEI";}
.accountGrid tr:hover{background-color:#2d3651;}*/
.accountMain .box{margin:0px;}
.accountMain .boxHd{padding:0px;}
.opeBtn_1{width:68px; height:18px; line-height:18px; margin:10px 0px 0px 10px; background-color:#212942; border:1px solid #67749c; border-radius:2px; color:#67749c; font-family:"microsoft YAHEI"; text-align:center;}
.levelSpan_2{color:#d88861;}
.levelSpan_3{color:#ad3838;}
.statusSpan_1{color:#7c44b6;}
.statusSpan_2{color:#3586bf;}
.statusSpan_3{color:#3b9666;}
.opeSeeLink{margin:0px 15px; padding-left:16px; background:url(../images/opeseelink_1.png) no-repeat left center; color:#64719d; font-size:12px;}
.opeSeeLink:hover{background:url(../images/opeseelink_2.png) no-repeat left center; color:#cc9f32;}
.opeEditLink{margin:0px 15px; padding-left:16px; background:url(../images/opeeditlink_1.png) no-repeat left center; color:#64719d; font-size:12px;}
.opeEditLink:hover{background:url(../images/opeeditlink_2.png) no-repeat left center; color:#0072ff;}
.opeDeleteLink{margin:0px 15px; padding-left:16px; background:url(../images/opedeletelink_1.png) no-repeat left center; color:#64719d; font-size:12px;}
.opeDeleteLink:hover{background:url(../images/opedeletelink_2.png) no-repeat left center; color:#c54b4b;}

/*checkbox自定义*/
.hide{display:none;}
.hide{visibility:hidden !important;}
.labelchk{display:inline-block; width:12px; height:12px; margin-top:5px; background:url(../images/chkbg.png) no-repeat; margin-right:8px;}
.labelchk:hover{background:url(../images/chkbg.png) no-repeat;}
.inputchk:checked + label{background:url(../images/chksltbg.png) no-repeat;}
/*.inputchk:disabled + label{background:url(../images/labelchk_4.png) no-repeat;}*/
.accountGrid .chkbox{width:12px; height:12px; margin:0px auto;}
.editAlarmInfoBox{padding-top:32px;}
.editAlarmInfoBox label{width:104px; color:#93a3d4; font-family:"Microsoft YaHei"; text-align:right;}

.addAccountList label{width:94px; text-align:right; color:#93a3d4; font-family:"Microsoft YaHei";}
.addAccountList dd{line-height:26px; padding-top:12px;}
.longInput{width:448px; height:24px; line-height:24px; background:none; border:1px solid #4b5881;}
.longTextarea{width:448px; height:54px; line-height:24px; background:none; border:1px solid #4b5881; resize:none;}
.addAccountList dt{line-height:30px; padding-left:95px; color:#596695; font-family:"Microsoft YaHei";}
.addAccountList dt span{color:#994143;}
.accountDetailInfoSift{height:60px; line-height:60px; padding:0px 20px;}
.accountDetailInfoSift label{color:#93a3d4; font-family:"Microsoft YaHei";}
.accountDetailInfoSift .starttime{margin-top:17px;}
.accountDetailInfoSift #equipmentType{margin-top:18px;}
.accountDetailInfoSift .schBtn_1{margin-top:12px;}
.accountDetailInfoGrid{padding:0px 20px;}

/*预警中心*/
.warming{padding:10px 20px;}
.warmingSift{height:26px; line-height:26px; padding:16px 10px;}
.warmingSift label{color:#93a3d4; font-family:"Microsoft YaHei";}
.warmingSift .emptyBtn_1{margin-top:3px;}
.deleteTip{line-height:100px; color:#93a3d4; font-size:14px; font-family:"Microsoft YaHei"; text-align:center;}

/*数据质量评估*/
.importDataMain{padding:10px 20px;}
.importDataSift{height:22px; line-height:22px; padding:16px 0px;}
.importDataSift label{color:#93a3d4; font-family:"Microsoft YaHei";}
.importDataSift .emptyBtn_1{margin-top:3px;}
.importDataMain .box{margin:0px;}
.importDataMain .boxHd{padding:0px;}

.importDataGrid table{width:100%;}
.importDataGrid th{height:40px; line-height:20px; padding:10px; /*background-color:#37415f;*/ border:1px solid #5b6b9c; text-align:center; font-size:14px; color:#9dabd7; font-family:"microsoft YAHEI"; font-weight:normal;}
.importDataGrid td{height:28px; line-height:28px; padding:0px 10px; border:1px solid #3d4867; text-align:center; font-size:12px; color:#64719d; font-family:"microsoft YAHEI";}
.importDataGrid tr:hover{background-color:#2d3651;}
.importDataLink{color:#4876b5; text-decoration:underline;}
.importDataLink:hover{color:#1e73e7; text-decoration:underline;}

/*卡片分页*/
/*.r-page-content{position:relative;}
.r-page-align-center{text-align: center;}
.r-page-align-left{text-align: left;}
.r-page-align-right{text-align: right;}
.r-page-pagebox{height: 35px; line-height: 35px;}
.r-page-numbox{display:inline-block;}
.r-page-prePage,.r-page-nextPage{margin-right:10px;}
.r-page-prePage:hover,.r-page-nextPage:hover{color:#297acc;}
.r-page-prePage.unable,.r-page-nextPage.unable{color: #ccc;}
.r-page-num{margin-right:10px;}
.r-page-num:hover{color:#297acc!important;}
.r-page-num.r-page-cur{color:#297acc;}
.r-page-point{margin-right:10px;}
.r-page-pageNum{width: 40px; height: 17px; margin-right: 5px; text-align: center;}
.r-page-indexPage {height: 35px; line-height: 35px; }
.r-page-pageGo{display: inline-block; width: 40px; height: 20px; margin-left: 5px; border: 1px solid #ccc; line-height: 20px; text-align: center;}*/

.predealDataGrid table{width:100%;}
.predealDataGrid th{height:40px; line-height:20px; padding:10px; /*background-color:#37415f;*/ border:1px solid #5b6b9c; text-align:center; font-size:14px; color:#9dabd7; font-family:"microsoft YAHEI"; font-weight:normal;}
.predealDataGrid td{height:28px; line-height:28px; padding:0px 10px; border:1px solid #3d4867; text-align:center; font-size:12px; color:#64719d; font-family:"microsoft YAHEI";}
.predealDataGrid tr:hover{background-color:#2d3651;}
.seeSampleLink{padding-left:14px; background:url(../images/seesampleicon.png) no-repeat left center; color:#3a79cc;}

.logDataGrid table{width:100%;}
.logDataGrid th{height:40px; line-height:20px; padding:10px; /*background-color:#37415f;*/ border:1px solid #5b6b9c; text-align:center; font-size:14px; color:#9dabd7; font-family:"microsoft YAHEI"; font-weight:normal;}
.logDataGrid td{height:28px; line-height:28px; padding:0px 10px; border:1px solid #3d4867; text-align:center; font-size:12px; color:#64719d; font-family:"microsoft YAHEI";}
.logDataGrid tr:hover{background-color:#2d3651;}

.objectDataGrid table{width:100%;}
.objectDataGrid th{height:40px; line-height:20px; padding:10px; /*background-color:#37415f;*/ border:1px solid #5b6b9c; text-align:center; font-size:14px; color:#9dabd7; font-family:"microsoft YAHEI"; font-weight:normal;}
.objectDataGrid td{height:28px; line-height:28px; padding:0px 10px; border:1px solid #3d4867; text-align:center; font-size:12px; color:#64719d; font-family:"microsoft YAHEI";}
.objectDataGrid tr:hover{background-color:#2d3651;}

.title{height:40px; line-height:40px; margin:10px; padding:0px 20px; background-color:#212942; border-radius:5px; color:#fff; font-family:"Microsoft YaHei"; font-size:14px;}
.search{width:172px; height:26px; line-height:26px; margin-top:6px; padding:0px 15px; background:url(../images/schbg.png) no-repeat;}
.search input{width:155px; height:26px; line-height:26px; background:none; border:none; color:#8394c6; font-family:"Microsoft YaHei"; outline:none;}
.search a{width:14px; height:14px; margin-top:6px; background:url(../images/schbtn_1.png) no-repeat;}
.search a:hover{background:url(../images/schbtn_2.png) no-repeat;}

.logDetail table{width:100%;}
.logDetail th{height:40px; line-height:20px; padding:10px; /*background-color:#37415f;*/ border:1px solid #5b6b9c; text-align:center; font-size:14px; color:#9dabd7; font-family:"microsoft YAHEI"; font-weight:normal;}
.logDetail td{height:28px; line-height:28px; padding:0px 10px; border:1px solid #3d4867; text-align:center; font-size:12px; color:#64719d; font-family:"microsoft YAHEI";}
.logDetail tr:hover{background-color:#2d3651;}

.popTip{height:60px; line-height:60px; font-size:14px; color:#fff; font-family:"Microsoft YaHei"; text-align:center;}
.percentLink{color:#4876b5; text-decoration:underline;}
.percentLink:hover{color:#1e73e7; text-decoration:underline;}
.percentChart{height:460px;}











