.r-window-mask{z-index:1000;position: fixed;top:0;left:0;width:100%; height:100%;background:url(../images/window/r-window-mask.png) repeat;}      
.r-window-shadow{width:100%;height:100%;-webkit-box-shadow: #888 0px 0px 6px;-moz-box-shadow: #888 0px 0px 6px;-ms-box-shadow: #888 0px 0px 6px;-o-box-shadow: #888 0px 0px 6px;box-shadow: #888 0px 0px 6px;}    
.r-window{z-index:1000;position:fixed;left:50%;left:50%;cursor: default; /*border:5px solid rgba(0,0,0,.4);*/ box-shadow:0px 0px 10px #000;
    -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.r-window.vhide{visibility: hidden;}
.r-window-main{position:absolute;top:0;left:0;width:100%;height:100%;overflow: hidden;background-color: #323c5e;}
.r-window-radius{/*-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;*/} 
.r-window-title{height:30px;line-height:30px;padding:0px 10px; background-color:#404e7e; /*-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;*/ color:#a8b6e7; font-weight:bolder;}
.r-window-cnt{overflow:auto;}
/*.r-window-buttonwrap{position:absolute;bottom:0;left:0;width:100%;height:40px;text-align:center;}*/
.r-window-buttonwrap{position:relative;padding:15px 20px;border:1px solid transparent;border-width:0 1px;text-align:center;}

.r-window-button{display:inline-block;
	margin:0 15px;
  -webkit-transition: background-color,border-radius .3s ease 0s;
  -moz-transition: background-color,border-radius .3s ease 0s;
  -ms-transition: background-color,border-radius .3s ease 0s;
  -o-transition: background-color,border-radius .3s ease 0s;
  transition: background-color,border-radius .3s ease 0s;
}
/*
.r-window-button:hover{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
*/
.r-window-resize-n,.r-window-resize-e,.r-window-resize-s,.r-window-resize-w{z-index:1;position:absolute;font-size:0;background-color: transparent;}
.r-window-resize-n{left:0;top:0px;width:100%;height:5px;cursor: n-resize;}
.r-window-resize-e{right:0px;top:0;width: 5px;height: 100%;cursor: e-resize;}
.r-window-resize-s{left:0;bottom:0px;width:100%;height:5px;cursor: s-resize;}
.r-window-resize-w{left:0px;top:0;width: 5px;height: 100%;cursor: w-resize;}
.r-window-resize-ne,.r-window-resize-se,.r-window-resize-sw,.r-window-resize-nw{z-index:1;position:absolute;width:5px;height: 5px;font-size:0;background-color: transparent;}
.r-window-resize-ne{right: 0px;top: 0px;cursor: ne-resize;}
.r-window-resize-se{right: 0px;bottom: 0px;cursor: se-resize;}
.r-window-resize-sw{left: 0px;bottom: 0px;cursor: sw-resize;}
.r-window-resize-nw{left: 0px;top: 0px;cursor: nw-resize;}
.r-window-title-oplist{padding-top:5px;}
.r-window-title-up,.r-window-title-down,.r-window-title-min,.r-window-title-max,.r-window-title-revert,.r-window-title-close{width: 21px;height: 19px;margin-left: 5px;background:url(../images/window/tool.png) no-repeat;}
.r-window-title-up{background-position: -170px 0;}
.r-window-title-up:hover{background-position: -170px -29px;}
.r-window-title-down{display:none;background-position: -199px 0;}
.r-window-title-down:hover{background-position: -199px -29px;}
.r-window-title-min {background-position: -29px 0;}
.r-window-title-min:hover {background-position: -29px -29px;}
.r-window-title-max {background-position: -60px 0;}
.r-window-title-max:hover {background-position: -60px -29px;}
.r-window-title-revert {display:none;background-position: -149px 0;}
.r-window-title-revert:hover {background-position: -149px -29px;}
/*关闭按钮*/
.r-window-title-close{position:relative;width:12px;height:12px;background: none;}
.r-window-title-close span{display:block; display:none\9; width:12px;height:12px;background:url(../images/window/r-window-title-close.png) center -57px no-repeat;
 -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/*.r-window-title-close em{position: absolute;left:0;top:0;width:12px;height:12px;background:url(../images/window/r-window-title-close.png) center 0px no-repeat;}
.r-window-title-close:hover span{
	display:block\9;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.r-window-title-close:hover em{background-position: center -38px;}*/
.r-window-title-close em{position: absolute;left:0;top:4px;width:12px;height:12px;background:url(../images/window/r-window-title-close.png) center 0px no-repeat;}
.r-window-title-close:hover span{
	display:block\9;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.r-window-title-close:hover em{background-position: center -12px;}

.diaSureBtn{width:60px; height:22px; line-height:22px; background:url(../images/window/r-window-button_1_1.png) no-repeat; font-family:14px; color:#e6eaf7; font-family:"Microsoft YaHei";}
.diaSureBtn:hover{background:url(../images/window/r-window-button_1_2.png) no-repeat;}
.diaCancelBtn{width:58px; height:20px; background-color:#323c5e; border:1px solid #8693c0; font-family:14px; color:#aab8e9; font-family:"Microsoft YaHei";}
.diaCancelBtn:hover{border:1px solid #aab8e9; color:#aab8e9;}












