
#u10865 {
  position:absolute;
  left:485px;
  top:1px;
  width:125px;
  height:30px;
}
#u10866 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u10867 {
  position:absolute;
  left:485px;
  top:31px;
  width:125px;
  height:30px;
}
#u10868 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10869 {
  position:absolute;
  left:549px;
  top:0px;
  width:352px;
  height:65px;
}
#u10870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10870 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10871 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10872 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10873 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10874 {
  position:absolute;
  left:180px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10875 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u10876 {
  position:absolute;
  left:260px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u10877 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u10878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10878 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10879 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10880 {
  position:absolute;
  left:100px;
  top:30px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10881 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10882 {
  position:absolute;
  left:180px;
  top:30px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10883 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u10884 {
  position:absolute;
  left:260px;
  top:30px;
  width:87px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10885 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10886 {
  position:absolute;
  left:549px;
  top:31px;
  width:352px;
  height:65px;
}
#u10887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10887 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10888 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10889 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10890 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10891 {
  position:absolute;
  left:180px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10892 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u10893 {
  position:absolute;
  left:260px;
  top:0px;
  width:87px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10894 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u10895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10895 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10896 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10897 {
  position:absolute;
  left:100px;
  top:30px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10898 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10899 {
  position:absolute;
  left:180px;
  top:30px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10900 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u10901 {
  position:absolute;
  left:260px;
  top:30px;
  width:87px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10902 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u10903 {
  position:absolute;
  left:485px;
  top:150px;
  width:125px;
  height:30px;
}
#u10904 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10905 {
  position:absolute;
  left:549px;
  top:150px;
  width:352px;
  height:65px;
}
#u10906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10906 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10907 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10908 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10909 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10910 {
  position:absolute;
  left:180px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10911 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u10912 {
  position:absolute;
  left:260px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u10913 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u10914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10914 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10915 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10916 {
  position:absolute;
  left:100px;
  top:30px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10917 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10918 {
  position:absolute;
  left:180px;
  top:30px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10919 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u10920 {
  position:absolute;
  left:260px;
  top:30px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u10921 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u10922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u10922 {
  position:absolute;
  left:485px;
  top:601px;
  width:125px;
  height:30px;
}
#u10923 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10924 {
  position:absolute;
  left:549px;
  top:601px;
  width:352px;
  height:207px;
}
#u10925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10925 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10926 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10927 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10928 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10929 {
  position:absolute;
  left:180px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10930 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u10931 {
  position:absolute;
  left:260px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u10932 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u10933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10933 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10934 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10935 {
  position:absolute;
  left:100px;
  top:30px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10936 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10937 {
  position:absolute;
  left:180px;
  top:30px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10938 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u10939 {
  position:absolute;
  left:260px;
  top:30px;
  width:87px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10940 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u10941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u10941 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:52px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10942 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u10943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u10943 {
  position:absolute;
  left:100px;
  top:60px;
  width:80px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u10944 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u10945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u10945 {
  position:absolute;
  left:180px;
  top:60px;
  width:80px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u10946 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u10947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u10947 {
  position:absolute;
  left:260px;
  top:60px;
  width:87px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u10948 {
  position:absolute;
  left:2px;
  top:1px;
  width:83px;
  word-wrap:break-word;
}
#u10949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10949 {
  position:absolute;
  left:0px;
  top:112px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10950 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10951 {
  position:absolute;
  left:100px;
  top:112px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10952 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10953 {
  position:absolute;
  left:180px;
  top:112px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10954 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u10955 {
  position:absolute;
  left:260px;
  top:112px;
  width:87px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10956 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u10957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10957 {
  position:absolute;
  left:0px;
  top:142px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10958 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10959 {
  position:absolute;
  left:100px;
  top:142px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10960 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10961 {
  position:absolute;
  left:180px;
  top:142px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10962 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u10963 {
  position:absolute;
  left:260px;
  top:142px;
  width:87px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10964 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u10965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10965 {
  position:absolute;
  left:0px;
  top:172px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10966 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10967 {
  position:absolute;
  left:100px;
  top:172px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u10968 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10969 {
  position:absolute;
  left:180px;
  top:172px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u10970 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u10971 {
  position:absolute;
  left:260px;
  top:172px;
  width:87px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u10972 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u10973 {
  position:absolute;
  left:485px;
  top:61px;
  width:125px;
  height:30px;
}
#u10974 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10975 {
  position:absolute;
  left:549px;
  top:60px;
  width:352px;
  height:67px;
}
#u10976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u10976 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10977 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u10978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u10978 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10979 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u10980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u10980 {
  position:absolute;
  left:180px;
  top:0px;
  width:80px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10981 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u10982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
}
#u10982 {
  position:absolute;
  left:260px;
  top:0px;
  width:87px;
  height:32px;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u10983 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u10984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10984 {
  position:absolute;
  left:0px;
  top:32px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u10985 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10986 {
  position:absolute;
  left:100px;
  top:32px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10987 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10988 {
  position:absolute;
  left:180px;
  top:32px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u10989 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u10990 {
  position:absolute;
  left:260px;
  top:32px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:center;
}
#u10991 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u10992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u10992 {
  position:absolute;
  left:485px;
  top:901px;
  width:125px;
  height:30px;
}
#u10993 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10994 {
  position:absolute;
  left:549px;
  top:901px;
  width:352px;
  height:197px;
}
#u10995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10995 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10996 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10997 {
  position:absolute;
  left:100px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u10998 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u10999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10999 {
  position:absolute;
  left:180px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u11000 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u11001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u11001 {
  position:absolute;
  left:260px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u11002 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u11003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u11003 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:20px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11004 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u11005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u11005 {
  position:absolute;
  left:100px;
  top:30px;
  width:80px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u11006 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u11007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u11007 {
  position:absolute;
  left:180px;
  top:30px;
  width:80px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u11008 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u11009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u11009 {
  position:absolute;
  left:260px;
  top:30px;
  width:87px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u11010 {
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  word-wrap:break-word;
}
#u11011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u11011 {
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:52px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11012 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u11013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u11013 {
  position:absolute;
  left:100px;
  top:50px;
  width:80px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u11014 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u11015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u11015 {
  position:absolute;
  left:180px;
  top:50px;
  width:80px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u11016 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u11017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u11017 {
  position:absolute;
  left:260px;
  top:50px;
  width:87px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u11018 {
  position:absolute;
  left:2px;
  top:1px;
  width:83px;
  word-wrap:break-word;
}
#u11019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11019 {
  position:absolute;
  left:0px;
  top:102px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11020 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u11021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11021 {
  position:absolute;
  left:100px;
  top:102px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u11022 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u11023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11023 {
  position:absolute;
  left:180px;
  top:102px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u11024 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u11025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u11025 {
  position:absolute;
  left:260px;
  top:102px;
  width:87px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u11026 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u11027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11027 {
  position:absolute;
  left:0px;
  top:132px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11028 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u11029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11029 {
  position:absolute;
  left:100px;
  top:132px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u11030 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u11031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11031 {
  position:absolute;
  left:180px;
  top:132px;
  width:80px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u11032 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u11033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u11033 {
  position:absolute;
  left:260px;
  top:132px;
  width:87px;
  height:30px;
  font-size:14px;
  text-align:center;
}
#u11034 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u11035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11035 {
  position:absolute;
  left:0px;
  top:162px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11036 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u11037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11037 {
  position:absolute;
  left:100px;
  top:162px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11038 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u11039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11039 {
  position:absolute;
  left:180px;
  top:162px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11040 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u11041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u11041 {
  position:absolute;
  left:260px;
  top:162px;
  width:87px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11042 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
