<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.run.kpi.estimate.dao.ObjDao">

	<sql id="objCondition">
        <if test="null != objType and '' != objType">
            and objType = #{objType}
        </if>
        <if test="null != aspectCode and '' != aspectCode">
            and aspectCode = #{aspectCode}
        </if>
        <if test="null != dsCode and '' != dsCode">
            and dsCode = #{dsCode}
        </if>
		<if test="null != createDate and '' != createDate">
            and createDate = #{createDate}
        </if>
    </sql>


	<select id="getList" parameterType="com.cn.run.kpi.estimate.entity.ObjInfo" resultType="com.cn.run.kpi.estimate.entity.ObjInfo">
		select 
			id,
			aspectCode,
			dsCode,
			aspectNum,
			round((aspectNum-errorNum)/aspectNum,2) accuracy,
			netExtractNum,
			round(netExtractNum/aspectNum,2) netExtractRate,
			phoneReNum,
			round(phoneReNum/aspectNum,2) phoneReRate,
			idCardReNum,
			round(idCardReNum/aspectNum,2) idCardReRate,
			adslReNum,
			round(adslReNum/aspectNum,2) adslReRate,
			imeiReNum,
			round(imeiReNum/aspectNum,2) imeiReRate,
			imsiReNum,
			round(imsiReNum/aspectNum,2) imsiReRate,
			macReNum,
			round(macReNum/aspectNum,2) macReRate,
			createDate
		from t_obj_quality_total
		<where>
			<include refid="objCondition"></include>
		</where>
		limit #{start},#{length}
	</select>
	
	<select id="getFieldList" parameterType="com.cn.run.kpi.estimate.entity.ObjInfo" resultType="com.cn.run.kpi.estimate.entity.ObjField">
		select 
			a.fieldCode,
			round(a.count/ b.aspectNum,2) rate
		from t_obj_quality_more_total a,t_obj_quality_total b
		where a.srcId = b.id
		and a.createDate = b.createDate
		and a.srcId = #{id}
		and a.createDate = #{createDate}
	</select>
	
	<select id="getTotal" parameterType="com.cn.run.kpi.estimate.entity.ObjInfo" resultType="java.lang.Integer">
		select 
			count(1)
		from t_obj_quality_total
		<where>
			<include refid="objCondition"></include>
		</where>
	</select>
</mapper>