<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.run.kpi.estimate.dao.YCLDataDao">
    
    <sql id="yclCondition">
        <if test="null != dataSourceCode and '' != dataSourceCode">
            and sourcecode = #{dataSourceCode}
        </if>
        <if test="null != bProtocolCode and '' != bProtocolCode">
            and bigaggrecode = #{bProtocolCode}
        </if>
        <if test="null != sProtocolCode and '' != sProtocolCode">
            and smallaggrecode = #{sProtocolCode}
        </if>
        <if test="null != actionType and '' != actionType">
            and actiontype = #{actionType}
        </if>
        <if test="null != startTime and '' != startTime">
            and createDate <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="null != endTime and '' != endTime">
            and createDate <![CDATA[ < ]]> #{endTime}
        </if>
    </sql>
    
	<select id="getList" parameterType="com.cn.run.kpi.estimate.entity.YCLData" resultType="com.cn.run.kpi.estimate.entity.YCLData">
		select 
			t.sourcecode dataSourceCode,
			t.sourcedesc dataSourceDescription,
			t.bigaggrecode bProtocolCode,
			t.bigaggredesc bProtocolDescription,			
			t.smallaggrecode sProtocolCode,
			t.smallaggredesc sProtocolDescription,
			t.actiontype actionType,
			sum(t.input_count) inputDataNum,
			floor(avg(t.inputfieldfillrage)) inputFieldFillRate,
			floor(avg(t.inputrelyfieldfillrage)) inputDependGroupFillRate,
			floor(avg(t.inputfielduserage)) inputFieldAvailability,
			floor(avg(t.inputrelyfielduserage)) inputDependGroupAvailability,
			floor(avg(t.inputaccuracyrage)) inputDataAccuracy,
			floor(sum(t.output_count)) outputNum,
			floor(avg(t.outputspeed)) outputDataSpeed,
			floor(avg(t.outputfieldfillrage)) outputFieldFillRate,
			floor(avg(t.outputrelyfieldfillrage)) outputDependGroupFillRate
		from ycl_quality t
		<where>
			<include refid="yclCondition"></include>
		</where>
		group by 
			t.sourcecode,
			t.bigaggrecode,
			t.smallaggrecode,
			t.actiontype
		limit #{start},#{length}
	</select>
	
	<select id="getTotal" parameterType="com.cn.run.kpi.estimate.entity.YCLData" resultType="java.lang.Integer">
		SELECT count(
				DISTINCT t.sourcecode,
				t.bigaggrecode,
				t.smallaggrecode,
				t.actiontype
			)
		FROM ycl_quality t 
		<where>
			<include refid="yclCondition"></include>
		</where>
	</select>
	
	<select id="selectDetail" parameterType="com.cn.run.kpi.estimate.entity.YCLData" resultType="com.cn.run.kpi.estimate.entity.YCLData">
		select createDate as colKey,${colName} as colValue from ycl_quality
		<where>
			<include refid="yclCondition"></include>
		</where>
	</select>
	
	<select id="getYCLExample" parameterType="com.cn.run.kpi.estimate.entity.YCLExampleData" resultType="com.cn.run.kpi.estimate.entity.YCLExampleData">
		select *
			from ycl_quality_detail t
		where 
		t.sourcecode = #{dataSourceCode}
		and
		t.bigaggrecode = #{bProtocolCode}
		and
		t.sourcedesc = #{sourcedesc}
		limit ${size}
	</select>
</mapper>